{% extends "post_base.html" %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block style %}
{% include "post-css" %}
{% endblock %}

{% block css %}
{{ super() }}
{% include "post-subcontent.css"%}
.comment-area {
margin-bottom: 50px;
}
{% endblock %}

{% block subcontent %}
{% from "post-macro.html" import postmacro  with context %}
{{ postmacro(post) }} {# post详情 #}
{# 评论区 #}
<div class="comment-area row">
<!-- 多说评论框 start -->
    <div class="ds-thread col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3" data-thread-key="{{ post.index_name }}" data-title="{{ post.title }}" data-url="{{ url_for('post.post', index_name=post.index_name, _external=True) }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"hayespan"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->

</div>
{% endblock %}

{% block script %}
{% include "post-js" %}
{% include "comment_cnt_js" %}
{% endblock %}
